<header class="cf">
  <div class="header_data">
  <nav class="header_column">
    <h1 class="logo" >
      <a href="">
        <img class="main_logo" src="assets/logo_main.svg" alt="">
        <img class="footers_logo" src="assets/lexcon_logo_footer.svg" alt="">
      </a>
    </h1>
  </nav>
    <ul class="header_column top_menu">
      <li class="menu_item" [ngxScrollTo]="'#about'"   [ngxScrollToOffset]="-200">{{ 'home.about' | translate }}</li>
      <li class="menu_item" [ngxScrollTo]="'#projects'"   [ngxScrollToOffset]="-200">{{ 'home.projets' | translate }}</li>
      <li class="menu_item" [ngxScrollTo]="'#contact'"   [ngxScrollToOffset]="-200">{{ 'home.contacts' | translate }}</li>
    </ul>
    <div class="languages header_column" >
      <a class="language_item" (click)="useLanguage('az')">AZ</a>
      <div class="line"></div>
      <a class="language_item" (click)="useLanguage('en')">EN</a>
      <div class="line"></div>
      <a class="language_item" (click)="useLanguage('ru')">RU</a>
    </div>
  </div>
</header>

<section class="section one"  >
  <h2><b>{{ 'home.mainHead' | translate }}</b></h2>
  <h2>{{ 'home.mainHeadSecond' | translate }}</h2>
  <div class="scroll_down">
    <img class="scroll_down_img" src="assets/scroll_down.svg" alt="">
  </div>
</section>
<section class="section two animated" data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000" id="about">
  <p class="two_linear" >{{ 'home.about' | translate }}</p>
  <p class="two_fields">{{ 'home.fields' | translate }}</p>
  <div class="tab_nav">
    <button class="tab_nav_item first">{{ 'home.whoWe' | translate }}</button>
    <button class="tab_nav_item second">{{ 'home.ourMiss' | translate }}</button>
    <button class="tab_nav_item last">{{ 'home.services' | translate }}</button>
  </div>
</section>
<section class="section three" data-aos="zoom-in-up" data-aos-once="false" data-aos-duration="1000">
  <h2 class="who_we_are_head">{{ 'home.whoWe' | translate }}</h2>
  <div class="three_texts">
    <div class="who_we_are">
    <p class="who_we_are_head_sed">{{ 'home.we' | translate }}</p>
    <p class="who_we_are_text">{{ 'home.weText' | translate }}</p>
    </div>
    <div class="our_mission_three">
      <p class="who_we_are_head_sed mission_head">{{ 'home.missionHead' | translate }} </p>
      <p class="who_we_are_text mission_text">{{ 'home.missionText' | translate }} </p>
    </div>
    <div class="our_principe">
      <p class="who_we_are_head_sed mission_head">{{ 'home.principe' | translate }}  </p>
      <p class="who_we_are_text mission_text">{{ 'home.principeText' | translate }} </p>
    </div>
  </div>
</section>
<section class="section three_end" >
  <p class="three_end_text">{{ 'home.separateText' | translate }}  </p>
</section>

<section class="section four" data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
  <h2 class="who_we_are_head our_mission our_mission_head">{{ 'home.ourMiss' | translate }} </h2>
  <div class="our_mission_texts">
    <div  class="our_mission_texts_left">
   <p class="our_missions_p">{{ 'home.ourMissone' | translate }} </p>
   <p class="our_missions_p to_right">{{ 'home.ourMisstwo' | translate }}</p>
   <p class="our_missions_p to_more_right">{{ 'home.ourMissthree' | translate }}</p>
    </div>
    <div  class="our_mission_texts_center"></div>
    <div class="our_mission_texts_right">
      <p class="our_missions_p">{{ 'home.ourMissfour' | translate }}</p>
      <p class="our_missions_p to_left">{{ 'home.ourMissfive' | translate }}</p>
      <p class="our_missions_p to_more_left">{{ 'home.ourMisssix' | translate }}</p>
    </div>
  </div>
</section>
<section class="section five"  data-aos="zoom-up" data-aos-once="false" data-aos-duration="1000">
  <h2 class="who_we_are_head our_mission services">{{ 'home.services' | translate }}</h2>
  <div class="services_div">
  <p class="services_text">{{ 'home.servicesText' | translate }}</p>
  </div>
  <div class="services_list">
    <div class="left_part">
      <div class="left_top">
      <div class="copyright">

        <div class="img__wrap">
          <img class="img__img" src="assets/copyright.svg" />
          <p class="img_visible_text">{{ 'home.copyrightlaw' | translate }}</p>
          <p class="img__description">{{ 'home.copyrightlawinText' | translate }}</p>
        </div>
      </div>
      <div class="civil_family">
        <div class="civil">
          <div class="img__wrap">
            <img class="img__img" src="assets/civil.svg" />
            <p class="img_visible_text"> {{ 'home.civillaw' | translate }}</p>
            <p class="img__description">{{ 'home.civillawText' | translate }}</p>
          </div>
        </div>
        <div class="family">
          <div class="img__wrap">
            <img class="img__img" src="assets/family.svg" />
            <p class="img_visible_text">{{ 'home.familylaw' | translate }}</p>
            <p class="img__description">T{{ 'home.familylawintext' | translate }}</p>
          </div>
        </div>
      </div>
      </div>
      <div class="consultation">
        <p class="law_text">{{ 'home.lawconsunlation' | translate }}</p>
      </div>
    </div>
    <div class="right_part">
      <div class="number_contact">
        <div class="free_cons">
          <img class="call_icon" src="assets/call.svg" alt="">
          <p class="call_head">{{ 'home.freecons' | translate }}</p>
          <p class="numbers first_number">(012) 480 19 20</p>
          <p class="numbers second_num">(077) 440 19 20</p>
          <div class="advice_div">
          <span class="advice">{{ 'home.advice' | translate }}</span>
          </div>

        </div>
        <div class="or">
          <p class="or_head">{{ 'home.or' | translate }}</p>
          <p class="or_write">{{ 'home.writeus' | translate }}</p>
          <img class="scroll" src="assets/scroll.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <button class="collapse_cols" (click)="openMore()">{{ 'home.seeall' | translate }}</button>

  <div [ngClass]="moreOpened ? 'expanded' : ''" class="services_list after_expand">
    <div style="display: flex; width: 100%">
    <div class="left_part">
      <div class="left_top">

        <div class="civil_family">
          <div class="civil">
            <div class="img__wrap">
              <img class="img__img" src="assets/inzibati.svg" />
              <p class="img_visible_text"> {{ 'home.inzibati' | translate }}</p>
              <p class="img__description">{{ 'home.inzibatiinside' | translate }}</p>
            </div>
          </div>
          <div class="family">
            <div class="img__wrap">
              <img class="img__img" src="assets/notariat.svg" />
              <p class="img_visible_text"> {{ 'home.notariat' | translate }}</p>
              <p class="img__description">{{ 'home.notariatinside' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="copyright copyright_second">

          <div class="img__wrap">
            <img class="img__img" src="assets/vergi.svg" />
            <p class="img_visible_text" style="color: #ffffff">  {{ 'home.vergi' | translate }}</p>
            <p class="img__description">{{ 'home.vergiinside' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right_part">
      <div class="copyright copyright_second copyright_right">

        <div class="img__wrap">
          <img class="img__img" src="assets/blue.svg" />
          <p class="img_visible_text" style="color: #ffffff; font-size: 27px; padding-left: 12px;padding-right: 12px"> {{ 'home.blue' | translate }}</p>
        </div>
      </div>
    </div>
    </div>
    <div class="bottom_part">
      <div class="civil  bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/inzibati.svg" />
          <p class="img_visible_text"> {{ 'home.labour' | translate }}</p>
          <p class="img__description">{{ 'home.labourinside' | translate }}</p>
        </div>
      </div>
      <div class="family bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/civil.svg" />
          <p class="img_visible_text"> {{ 'home.custom' | translate }}</p>
          <p class="img__description">{{ 'home.custominside' | translate }}</p>
        </div>
      </div>
      <div class="family bottom_width bottom_last">
        <div class="img__wrap">
          <img class="img__img" src="assets/land.svg" />
          <p class="img_visible_text"> {{ 'home.landlaw' | translate }}</p>
          <p class="img__description">{{ 'home.landlawniside' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section six"  data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
<div class="six_head" id="projects">
<div class="six_head_circle">
  <p class="six_head_header">{{ 'home.projets' | translate }}</p>
</div>
</div>
  <div class="six_content">
    <div class="six_item">
      <img class="six_item_img" src="assets/haqqim_logo.svg" alt="">
      <p class="six_item_text">{{ 'home.projetsitem' | translate }}</p>
    </div>
    <div class="six_item">
      <img class="six_item_img" src="assets/haqqim_logo.svg" alt="">
      <p class="six_item_text">{{ 'home.projetsitem' | translate }}</p>
    </div>
  </div>
  <hr>
</section>
<section class="section seven"  data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
  <div class="seven_head" id="contact">
    <p class="seven_header">{{ 'home.contacts' | translate }}</p>
  </div>
  <div class="seven_content">
    <div class="centent_left">
      <p class="address">Azərbaycan, Bakı ş., Səbail rayonu, Əhəd Yaqubov, ev 2., m. 50</p>
      <p class="email">info@lexcon.az</p>
      <p class="phone_one">(012) 480 19 20</p>
      <p class="phone_two">(070) 440 19 20</p>
      <p class="follow_us">{{ 'home.followus' | translate }}</p>
      <div class="socials">
        <img class="socials_item" src="assets/facebook.svg" alt="">
        <img class="socials_item" src="assets/linkedin.svg" alt="">
        <img class="socials_item" src="assets/instagram.svg" alt="">
        <img class="socials_item" src="assets/twitter.svg" alt="">
      </div>
<!--      <img src="" alt="">-->
    </div>
    <div class="centent_right">
      <p class="write_us">{{ 'home.writeus' | translate }}</p>
      <p class="write_us_text">{{ 'home.asap' | translate }}</p>
      <form [formGroup]="mailForm">
      <div class="name_sur">
        <input class="input_style half_input" type="text" placeholder="{{ 'home.name' | translate }}" formControlName="firstName">
        <input class="input_style half_input" type="text" placeholder="{{ 'home.lastname' | translate }}" formControlName="lastName">
      </div>
      <div class="name_sur">
        <input class="input_style half_input" type="number" placeholder="{{ 'home.phone' | translate }}">
        <input class="input_style half_input" type="email" placeholder="{{ 'home.email' | translate }}">
      </div>
      <select class="form-control input_style">
        <option value="">{{ 'home.select' | translate }}</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      <textarea class="input_style textarea" placeholder="Məzmun" name="Description" id="" cols="30" rows="10"></textarea>
      <label class="control control--checkbox">{{ 'home.wantmore' | translate }}
        <input type="checkbox" checked="checked"/>
        <div class="control__indicator"></div>
      </label>
      <p>{{ 'home.accept' | translate }}</p>
   <button class="send" (click)="onSubmit()">{{ 'home.send' | translate }}</button>
      </form>
    </div>
  </div>
</section>
<section class="section eight footer" >
  <div class="footer_logo">
  <img src="assets/lexcon_logo_footer.svg" alt="">
  </div>
  <div class="links">
    <p class="footer_copyright_head">{{ 'home.shortcuts' | translate }}</p>
    <div class="horizontal_links">
      <a class="language_item">{{ 'home.about' | translate }}</a>
      <div class="line footer_line"></div>
      <a class="language_item">{{ 'home.ourMiss' | translate }}</a>
      <div class="line footer_line"></div>
      <a class="language_item">{{ 'home.services' | translate }}</a>
    </div>
    <p class="last_link">{{ 'home.projets' | translate }}</p>
    <p class="last_link">{{ 'home.contact' | translate }}</p>
  </div>
  <div class="footer_copyright">
    <p class="footer_copyright_text">{{ 'home.rights' | translate }}</p>
  </div>
</section>
