<link href='https://fonts.googleapis.com/css?family=Lobster|Raleway:400,200' rel='stylesheet' type='text/css'>

<header class="cf">
  <div class="header_data">
  <nav class="header_column">
    <h1 class="logo" ><a href="">Logo</a></h1>
  </nav>
    <ul class="header_column top_menu">
      <li class="menu_item">Haqqımızda</li>
      <li class="menu_item">Layihələr</li>
      <li class="menu_item">Əlaqə</li>
    </ul>
    <div class="languages header_column">
      <a class="language_item">AZ</a>
      <div class="line"></div>
      <a class="language_item">EN</a>
      <div class="line"></div>
      <a class="language_item">RU</a>
    </div>
  </div>
</header>

<section class="section one">
  <h2><b>YÜKSƏK TƏLƏBLƏR İLƏ</b></h2>
  <h2>SONSUZ İMKANLARA DOĞRU</h2>
  <div class="scroll_down">
    <img class="scroll_down_img" src="assets/scroll_down.svg" alt="">
  </div>
</section>
<section class="section two">
  <p class="two_linear">Haqqımızda</p>
  <p class="two_fields">və fəaliyyət sahələrimiz</p>
  <div class="tab_nav">
    <button class="tab_nav_item first">Who we are</button>
    <button class="tab_nav_item second">Our mission</button>
    <button class="tab_nav_item last">Our services</button>
  </div>
</section>
<section class="section three">
  <h2 class="who_we_are_head">Biz kimik</h2>
  <div class="three_texts">
    <div class="who_we_are">
    <p class="who_we_are_head_sed">Biz</p>
    <p class="who_we_are_text">Uzun müddət hüquq sahəsində çalışmış yüksək təcrübəli hüquqşünaslar və mütəxəssislər, birgə fəaliyyət göstərmək məqsədilə birləşərək  Lexcon komandasını yaratdıq.</p>
    </div>
    <div class="our_mission_three">
      <p class="who_we_are_head_sed mission_head">Məqsədimiz </p>
      <p class="who_we_are_text mission_text">Müasir dünya standartlarına uyğun qabaqcıl xidmətin təşkili vasitəsilə ölkəmizdə hüququn müxtəlif sahələrinə əhəmiyyətli töhfələr vermək. </p>
    </div>
    <div class="our_principe">
      <p class="who_we_are_head_sed mission_head">Başlıca prinsipimiz  </p>
      <p class="who_we_are_text mission_text">Daxili və xarici bazarda keyfiyyətli xidmət göstərərək rəqabətqabiliyyətli fəaliyyətin təşkili.
        Kredomuz - Yüksək tələblər tətbiq etməklə sonsuz imkanlara doğru irəliləmək. </p>
    </div>
  </div>
</section>
<section class="section three_end">
  <p class="three_end_text">Daxili və xarici bazarda keyfiyyətli xidmət göstərərək rəqabətqabiliyyətli fəaliyyətin təşkili.
    Kredomuz - Yüksək tələblər tətbiq etməklə sonsuz imkanlara doğru irəliləmək. </p>
</section>

<section class="section four">
  <h2 class="who_we_are_head our_mission our_mission_head">Our mission</h2>
  <div class="our_mission_texts">
    <div  class="our_mission_texts_left">
   <p class="our_missions_p">•	Cəmiyyəti fəaliyyət göstərdiyimiz sahələr üzrə maarifləndirmək</p>
   <p class="our_missions_p to_right">•	Gənclər üçün məşğul olduqları və maraqlandıqları sahələr üzrə inkişaf imkanları yaratmaq, onları şəxsi inkişafa təşviq etmək</p>
   <p class="our_missions_p to_more_right">•	Cəmiyyətdə insanları yaradıcı olmağa cəlb edəcək bir model yaratmaq</p>
    </div>
    <div  class="our_mission_texts_center"></div>
    <div class="our_mission_texts_right">
      <p class="our_missions_p">•	Gənclərdə elmin müxtəlif sahələrinə marağın inkişafına səbəb olmaq</p>
      <p class="our_missions_p to_left">•	Gələcəkdə müxtəlif startap layihələrin inkişafına töhfə vermək</p>
      <p class="our_missions_p to_more_left">•	Mədəniyyət və məlumatlılıq səviyyəsinin yüksəlişinə səbəb olmaq</p>
    </div>
  </div>
</section>
<section class="section five">
  <h2 class="who_we_are_head our_mission services">Xidmetlerimiz</h2>
  <div class="services_div">
  <p class="services_text">Hüququn bir çox sahələrində - mülki, müəllif hüquqları, inzibati, əmək, ailə hüququ və s. konsaltinq xidmətlərini təqdim edirik.
    Konsultasiyalar, prosessual sənədlərin hazırlanması (iddia ərizələri, sorğular, apellyasiyalar, məhkəmələrin qərarlarından kassasiya şikayətləri və s.), məhkəmələrin bütün instansiyalarında təmsil etmə xidmətlərini göstəririk. Hüquqi şəxslərin və fərdi sahibkarların dövlət qeydiyyatı üçün sənədlərinin tərtib və təqdim edilməsi,
    sazişlərin bağlanmasında, müqavilələrin və digər iş sənədlərinin hazırlanmasında hüquqi dəstək.</p>
  </div>
  <div class="services_list">
    <div class="left_part">
      <div class="left_top">
      <div class="copyright">

        <div class="img__wrap">
          <img class="img__img" src="assets/copyright.svg" />
          <p class="img_visible_text">  Copyright law</p>
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
      <div class="civil_family">
        <div class="civil">
          <div class="img__wrap">
            <img class="img__img" src="assets/civil.svg" />
            <p class="img_visible_text"> Civil law</p>
            <p class="img__description">This image looks super neat.</p>
          </div>
        </div>
        <div class="family">
          <div class="img__wrap">
            <img class="img__img" src="assets/family.svg" />
            <p class="img_visible_text"> Family law</p>
            <p class="img__description">This image looks super neat.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="consultation">
        <p class="law_text">Hüquqi konsultasiya</p>
      </div>
    </div>
    <div class="right_part">
      <div class="number_contact">
        <div class="free_cons">
          <img class="call_icon" src="assets/call.svg" alt="">
          <p class="call_head">Pulsuz konsultasiyadan
            faydalan</p>
          <p class="numbers first_number">(012) 480 19 20</p>
          <p class="numbers second_num">(077) 440 19 20</p>
          <div class="advice_div">
          <span class="advice">Mütəxəssislərimizlə məsləhətləşin</span>
          </div>

        </div>
        <div class="or">
          <p class="or_head">və yaxud</p>
          <p class="or_write">Bizə yazın</p>
          <img class="scroll" src="assets/scroll.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <button class="collapse_cols" (click)="openMore()">Bütün sahələr</button>

  <div [ngClass]="moreOpened ? 'expanded' : ''" class="services_list after_expand">
    <div style="display: flex; width: 100%">
    <div class="left_part">
      <div class="left_top">

        <div class="civil_family">
          <div class="civil">
            <div class="img__wrap">
              <img class="img__img" src="assets/inzibati.svg" />
              <p class="img_visible_text"> İnzibati hüquq</p>
              <p class="img__description">This image looks super neat.</p>
            </div>
          </div>
          <div class="family">
            <div class="img__wrap">
              <img class="img__img" src="assets/notariat.svg" />
              <p class="img_visible_text"> Notariat xidmətləri</p>
              <p class="img__description">This image looks super neat.</p>
            </div>
          </div>
        </div>
        <div class="copyright copyright_second">

          <div class="img__wrap">
            <img class="img__img" src="assets/vergi.svg" />
            <p class="img_visible_text" style="color: #ffffff">  Vergi hüququ</p>
            <p class="img__description">This image looks super neat.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right_part">
      <div class="copyright copyright_second copyright_right">

        <div class="img__wrap">
          <img class="img__img" src="assets/copyright.svg" />
          <p class="img_visible_text">  Copyright law</p>
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
    </div>
    </div>
    <div class="bottom_part">
      <div class="civil  bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/emek.svg" />
          <p class="img_visible_text"> Əmək hüququ</p>
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
      <div class="family bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/gomruk.svg" />
          <p class="img_visible_text"> Notariat xidmətləri</p>
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
      <div class="family bottom_width bottom_last">
        <div class="img__wrap">
          <img class="img__img" src="assets/land.svg" />
          <p class="img_visible_text"> Torpaq hüququ</p>
          <p class="img__description">This image looks super neat.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section six">
<div class="six_head">
<div class="six_head_circle">
  <p class="six_head_header">Layihələr</p>
</div>
</div>
  <div class="six_content">
    <div class="six_item">
      <img class="six_item_img" src="assets/haqqim_logo.svg" alt="">
      <p class="six_item_text">Haqqim.az platforması müəllif hüquqlarının, patentlərin və əmtəə (ticarət) nişanlarının qeydiyyatı və qorunması, onlarla bağlı konsultasiyalar, sənədlərin hazırlanması, mübahisəli məsələlərin həll edilməsi və digər xidmətlərin geniş spektrini təklif edir. Bu platforma üzərindən mütəxəssizlərimizin köməyi ilə siz, intellektual mülkiyyətinizi qeydiyyata alıb, etibarlı şəkildə mühafizə edə bilərsiniz. Bizim komanda həyata keçirdiyi bütün proseslərə zəmanət verir.</p>
    </div>
    <div class="six_item">
      <img class="six_item_img" src="assets/haqqim_logo.svg" alt="">
      <p class="six_item_text">Haqqim.az platforması müəllif hüquqlarının, patentlərin və əmtəə (ticarət) nişanlarının qeydiyyatı və qorunması, onlarla bağlı konsultasiyalar, sənədlərin hazırlanması, mübahisəli məsələlərin həll edilməsi və digər xidmətlərin geniş spektrini təklif edir. Bu platforma üzərindən mütəxəssizlərimizin köməyi ilə siz, intellektual mülkiyyətinizi qeydiyyata alıb, etibarlı şəkildə mühafizə edə bilərsiniz. Bizim komanda həyata keçirdiyi bütün proseslərə zəmanət verir.</p>
    </div>
  </div>
  <hr>
</section>
<section class="section seven">
  <div class="seven_head">
    <p class="seven_header">Əlaqə</p>
  </div>
  <div class="seven_content">
    <div class="centent_left">
      <p class="address">Azərbaycan, Bakı ş., Səbail rayonu, Əhəd Yaqubov, ev 2., m. 50</p>
      <p class="email">info@lexcon.az</p>
      <p class="phone_one">(012) 480 19 20</p>
      <p class="phone_two">(070) 440 19 20</p>
      <p class="follow_us">Bizi izləyin</p>
      <div class="socials">
        <img class="socials_item" src="assets/facebook.svg" alt="">
        <img class="socials_item" src="assets/linkedin.svg" alt="">
        <img class="socials_item" src="assets/instagram.svg" alt="">
        <img class="socials_item" src="assets/twitter.svg" alt="">
      </div>
<!--      <img src="" alt="">-->
    </div>
    <div class="centent_right">
      <p class="write_us">Bizə yazın.</p>
      <p class="write_us_text">Sorğunuza ən qısa zamanda cavab veriləcək.</p>
      <div class="name_sur">
        <input class="input_style half_input" type="text" placeholder="Ad">
        <input class="input_style half_input" type="text" placeholder="Soyad">
      </div>
      <div class="name_sur">
        <input class="input_style half_input" type="number" placeholder="Telefon nömrəsi">
        <input class="input_style half_input" type="email" placeholder="Email">
      </div>
      <select class="form-control input_style">
        <option value="">Select One</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
      </select>
      <textarea class="input_style textarea" placeholder="Məzmun" name="Description" id="" cols="30" rows="10"></textarea>
      <label class="control control--checkbox">Mən Lexcon haqqında daha çox bilmək istəyərdim
        <input type="checkbox" checked="checked"/>
        <div class="control__indicator"></div>
      </label>
      <p>Bu xananı işarələməklə siz təsdiqləyirsiniz ki, siz bizim xidmətlərimiz, tədbirlər, yeniliklər və təkliflərimiz haqqında məlumatlanmaq istəyirsiniz. İstədiyiniz zaman bundan imtina edə bilərsiniz.</p>
   <button class="send">Göndər</button>
    </div>
  </div>
</section>
