<header class="cf">
  <div class="header_data">
  <nav class="header_column">
    <h1 class="logo" >
      <a href="">
        <img class="main_logo" src="assets/logo_main.svg" alt="">
        <img class="footers_logo" src="assets/lexcon_logo_footer.svg" alt="">
      </a>
    </h1>
  </nav>
    <ul class="header_column top_menu">
      <li class="menu_item" [ngxScrollTo]="'#about'"   [ngxScrollToOffset]="-200"><a class="effect-underline">{{ 'home.about' | translate }}</a></li>
      <li class="menu_item" [ngxScrollTo]="'#projects'"   [ngxScrollToOffset]="-200"><a class="effect-underline" >{{ 'home.projets' | translate }}</a></li>
      <li class="menu_item" [ngxScrollTo]="'#contact'"   [ngxScrollToOffset]="-400"><a class="effect-underline" >{{ 'home.contacts' | translate }}</a></li>
    </ul>
    <div class="languages header_column" >
      <a class="language_item" [ngClass]="languageAzSelected? 'bold' : ''" (click)="useLanguage('az')">AZ</a>
      <div class="line"></div>
      <a class="language_item" [ngClass]="languageEnSelected? 'bold' : ''"  (click)="useLanguage('en')">EN</a>
      <div class="line"></div>
      <a class="language_item" [ngClass]="languageRuSelected? 'bold' : ''"  (click)="useLanguage('ru')">RU</a>
    </div>
  </div>
  <div class="header_mobile">
    <a href="">
      <img class="main_logo" src="assets/logo_main.svg" alt="">
      <img class="footers_logo" src="assets/lexcon_logo_footer.svg" alt="">
    </a>

    <input type="checkbox" id="menu-toggle"/>
    <label id="menu-button" class="menu-button" for="menu-toggle">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
    <div id="site-menu">
      <img class="footers_logo" src="assets/lexcon_logo_footer.svg" alt="">
      <ul class="header_column top_menu">
        <li class="menu_item" ><a href="">Home</a></li>
        <input type="checkbox" id="menu-toggle"/>
        <label id="menu-button"  for="menu-toggle">
        <li class="menu_item" [ngxScrollTo]="'#about'"   [ngxScrollToOffset]="-200">{{ 'home.about' | translate }}</li>
        </label>
        <input type="checkbox" id="menu-toggle"/>
        <label id="menu-button"  for="menu-toggle">
        <li class="menu_item" [ngxScrollTo]="'#projects'"   [ngxScrollToOffset]="-100">{{ 'home.projets' | translate }}</li>
        </label>
        <input type="checkbox" id="menu-toggle"/>
        <label id="menu-button"  for="menu-toggle">
        <li class="menu_item" [ngxScrollTo]="'#serv'"   [ngxScrollToOffset]="-100">{{ 'home.services' | translate }}</li>
        </label>
        <input type="checkbox" id="menu-toggle"/>
        <label id="menu-button"  for="menu-toggle">
        <li class="menu_item" [ngxScrollTo]="'#contact'"   [ngxScrollToOffset]="-200">{{ 'home.contacts' | translate }}</li>
        </label>
<li>
        <div class="languages header_column" >
          <a class="language_item" [ngClass]="languageAzSelected? 'bold' : ''" (click)="useLanguage('az')">AZ</a>
          <div class="line"></div>
          <a class="language_item" [ngClass]="languageEnSelected? 'bold' : ''"  (click)="useLanguage('en')">EN</a>
          <div class="line"></div>
          <a class="language_item" [ngClass]="languageRuSelected? 'bold' : ''"  (click)="useLanguage('ru')">RU</a>
        </div>
</li>
      </ul>

    </div>
  </div>
</header>

<section class="section one"  id="top">
  <h2><b>{{ 'home.mainHead' | translate }}</b></h2>
  <h2>{{ 'home.mainHeadSecond' | translate }}</h2>
  <div class="scroll_down">
    <img class="scroll_down_img animate-flicker" src="assets/scroll_down.svg" alt="">
  </div>
</section>
<section class="section two animated" data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000" id="about">
  <p class="two_linear" >{{ 'home.about' | translate }}</p>
  <p class="two_fields">{{ 'home.fields' | translate }}</p>
  <div class="tab_nav">
    <button class="tab_nav_item first" [ngxScrollTo]="'#who_we'"   [ngxScrollToOffset]="-300">{{ 'home.whoWe' | translate }}</button>
    <button class="tab_nav_item second" [ngxScrollTo]="'#miss'"   [ngxScrollToOffset]="-200">{{ 'home.ourMiss' | translate }}</button>
    <button class="tab_nav_item last" [ngxScrollTo]="'#serv'"   [ngxScrollToOffset]="-200">{{ 'home.services' | translate }}</button>
  </div>
</section>
<section class="section three" id="who_we" data-aos="zoom-in-up" data-aos-once="false" data-aos-duration="1000">
  <h2 class="who_we_are_head">{{ 'home.whoWe' | translate }}</h2>
  <div class="three_texts">
    <div class="who_we_are">
    <p class="who_we_are_head_sed">{{ 'home.we' | translate }}</p>
    <p class="who_we_are_text">{{ 'home.weText' | translate }}</p>
    </div>
    <div class="our_mission_three">
      <p class="who_we_are_head_sed mission_head">{{ 'home.missionHead' | translate }} </p>
      <p class="who_we_are_text mission_text">{{ 'home.missionText' | translate }} </p>
    </div>
    <div class="our_principe">
      <p class="who_we_are_head_sed mission_head">{{ 'home.principe' | translate }}  </p>
      <p class="who_we_are_text mission_text">{{ 'home.principeText' | translate }} </p>
    </div>
  </div>
</section>
<section class="section three_end" >
  <p class="three_end_text">{{ 'home.separateText' | translate }}  </p>
</section>

<section class="section four" id="miss" data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
  <h2 class="who_we_are_head our_mission our_mission_head">{{ 'home.ourMiss' | translate }} </h2>
  <div class="our_mission_texts">
    <div  class="our_mission_texts_left">
   <p class="our_missions_p"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMissone' | translate }} </p>
   <p class="our_missions_p to_right"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMisstwo' | translate }}</p>
   <p class="our_missions_p to_more_right"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMissthree' | translate }}</p>
    </div>
    <div  class="our_mission_texts_center"></div>
    <div class="our_mission_texts_right">
      <p class="our_missions_p"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMissfour' | translate }}</p>
      <p class="our_missions_p to_left"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMissfive' | translate }}</p>
      <p class="our_missions_p to_more_left"><img class="mark" src="assets/mark.svg" alt="">{{ 'home.ourMisssix' | translate }}</p>
    </div>
  </div>
</section>
<section class="section five" id="serv"  data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
  <h2 class="our_mission services">{{ 'home.services' | translate }}</h2>
  <div class="services_div">
  <p class="services_text">{{ 'home.servicesText' | translate }}</p>
  </div>
  <div class="services_list">
    <div class="left_part">
      <div class="left_top">
      <div class="copyright">

        <div class="img__wrap">
          <img class="img__img" src="assets/copyrightlaw.svg" />
          <p class="img_visible_text">{{ 'home.copyrightlaw' | translate }}</p>
          <p class="img__description">{{ 'home.copyrightlawinText' | translate }}</p>
        </div>
      </div>
      <div class="civil_family">
        <div class="civil">
          <div class="img__wrap">
            <img class="img__img" src="assets/civil.svg" />
            <p class="img_visible_text" style="color: #fff"> {{ 'home.civillaw' | translate }}</p>
            <p class="img__description">{{ 'home.civillawText' | translate }}</p>
          </div>
        </div>
        <div class="family">
          <div class="img__wrap">
            <img class="img__img" src="assets/family.svg" />
            <p class="img_visible_text" style="color: #fff">{{ 'home.familylaw' | translate }}</p>
            <p class="img__description">{{ 'home.familylawintext' | translate }}</p>
          </div>
        </div>
      </div>
      </div>
      <div class="consultation">
        <p class="law_text">{{ 'home.lawconsunlation' | translate }}</p>
      </div>
    </div>
    <div class="right_part">
      <div class="number_contact">
        <div class="free_cons">
          <img class="call_icon" src="assets/call.svg" alt="">
          <p class="call_head">{{ 'home.freecons' | translate }}</p>
          <p class="numbers first_number">(012) 480 19 20</p>
          <p class="numbers second_num">(077) 440 19 20</p>
          <div class="advice_div">
          <span class="advice">{{ 'home.advice' | translate }}</span>
          </div>

        </div>
        <div class="or">
          <p class="or_head">{{ 'home.or' | translate }}</p>
          <p class="or_write">{{ 'home.writeus' | translate }}</p>
          <img class="scroll" [ngxScrollTo]="'#contact'"   [ngxScrollToOffset]="-200" src="assets/scroll.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <button class="collapse_cols" (click)="openMore()">
   <span *ngIf="this.moreOpened">{{ 'home.seeless' | translate }}</span>
   <span *ngIf="!this.moreOpened">{{ 'home.seeall' | translate }}</span>
  </button>

  <div [ngClass]="moreOpened ? 'expanded' : ''" class="services_list after_expand">
    <div style="display: flex; width: 100%">
    <div class="left_part">
      <div class="left_top">

        <div class="civil_family">
          <div class="civil">
            <div class="img__wrap">
              <img class="img__img" src="assets/inzibati.svg" />
              <p class="img_visible_text"> {{ 'home.inzibati' | translate }}</p>
              <p class="img__description">{{ 'home.inzibatiinside' | translate }}</p>
            </div>
          </div>
          <div class="family">
            <div class="img__wrap">
              <img class="img__img" src="assets/notariatlaw.svg" />
              <p class="img_visible_text"> {{ 'home.notariat' | translate }}</p>
              <p class="img__description">{{ 'home.notariatinside' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="copyright copyright_second">

          <div class="img__wrap">
            <img class="img__img" src="assets/vergi.svg" />
            <p class="img_visible_text" style="color: #ffffff">  {{ 'home.vergi' | translate }}</p>
            <p class="img__description">{{ 'home.vergiinside' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right_part">
      <div class="copyright copyright_second copyright_right">

        <div class="img__wrap">
          <img class="img__img" src="assets/blue.svg" />
          <p class="img_visible_text" style="color: #ffffff; font-size: 27px; padding-left: 12px;padding-right: 12px"> {{ 'home.blue' | translate }}</p>
        </div>
      </div>
    </div>
    </div>
    <div class="bottom_part">
      <div class="civil  bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/emeklaw.svg" />
          <p class="img_visible_text" style="color: white"> {{ 'home.labour' | translate }}</p>
          <p class="img__description">{{ 'home.labourinside' | translate }}</p>
        </div>
      </div>
      <div class="family bottom_items bottom_width">
        <div class="img__wrap">
          <img class="img__img" src="assets/gomruklaw.svg" />
          <p class="img_visible_text" style="color: white"> {{ 'home.custom' | translate }}</p>
          <p class="img__description">{{ 'home.custominside' | translate }}</p>
        </div>
      </div>
      <div class="family bottom_width bottom_last">
        <div class="img__wrap">
          <img class="img__img" src="assets/landlaw.svg" />
          <p class="img_visible_text"> {{ 'home.landlaw' | translate }}</p>
          <p class="img__description">{{ 'home.landlawniside' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="services_list_mobile">
    <div class="d-flex author_family">
      <div class="author">
        <p class="author_text">{{ 'home.copyrightlaw' | translate }}</p>
      </div>
      <div class="family_civil">
        <div class="civil_mob"><p class="author_text">{{ 'home.civillaw' | translate }}</p></div>
        <div class="family_mob"><p class="author_text">{{ 'home.familylaw' | translate }}</p></div>
      </div>
    </div>
    <div class="consultation">
      <p class="consultation_text">{{ 'home.lawconsunlation' | translate }}</p>
    </div>
    <div class="d-flex author_family">
      <div class="family_civil family_civil_Sec">
        <div class="civil_mob" style="background: rgba(242, 242, 242, 0.8);"><p class="author_text">{{ 'home.inzibati' | translate }}</p></div>
        <div class="family_mob" style="background: rgba(242, 242, 242, 0.8);"><p class="author_text">{{ 'home.notariat' | translate }}</p></div>
      </div>
      <div class="author author_sec" style="background: rgba(242, 242, 242, 0.8);">
        <p class="author_text">{{ 'home.vergi' | translate }}</p>
      </div>
    </div>
    <div class="d-flex emek_gomruk bottom_mob" >
      <div class="civil_mob" style="background: linear-gradient(180deg, rgba(252, 255, 119, 0.25) -43.57%, rgba(242, 242, 242, 0.2) 100%);"><p class="author_text">{{ 'home.blue' | translate }}</p></div>
      <div class="family_mob" style="background: linear-gradient(180deg, rgba(252, 255, 119, 0.25) -43.57%, rgba(242, 242, 242, 0.2) 100%);"><p class="author_text">{{ 'home.labour' | translate }}</p></div>
    </div>
    <div class="d-flex emek_gomruk bottom_mob">
      <div class="civil_mob" style="background: linear-gradient(180deg, rgba(252, 255, 119, 0.25) -43.57%, rgba(242, 242, 242, 0.2) 100%);"><p class="author_text">{{ 'home.custom' | translate }}</p></div>
      <div class="family_mob" style="background: linear-gradient(180deg, rgba(252, 255, 119, 0.25) -43.57%, rgba(242, 242, 242, 0.2) 100%);"><p class="author_text">{{ 'home.landlaw' | translate }}</p></div>
    </div>
    <div class="pulsuz_kons">
      <div class="pulsuz_kons_inside">
        <div class="call">
        <img class="call_img" src="assets/call.svg" alt="">
        </div>
        <p class="call_text">{{ 'home.freecons' | translate }}</p>
        <div>
        <p style="margin-top: 16px">(012) 480 19 20</p>
        <p>(012) 480 19 20</p></div>
        <p class="advice_call">{{ 'home.advice' | translate }}</p>
      </div>
    </div>
  </div>
</section>
<section class="section six"  data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
<div class="six_head" id="projects">
<div class="six_head_circle">
  <p class="six_head_header">{{ 'home.projets' | translate }}</p>
</div>
</div>
  <div class="six_content">
    <div class="six_item">
      <img class="six_item_img" src="assets/haqqim_logo.svg" alt="">
      <p class="six_item_text">{{ 'home.projetsitem' | translate }}</p>
    </div>
    <div class="six_item">
      <img class="six_item_img" src="assets/qazan.svg" alt="">
      <p class="six_item_text">{{ 'home.projetsitemSecond' | translate }}</p>
    </div>
  </div>
  <hr>
</section>
<section class="section seven"  data-aos="zoom-in" data-aos-once="false" data-aos-duration="1000">
  <div class="seven_head" id="contact">
    <p class="seven_header">{{ 'home.contacts' | translate }}</p>
  </div>
  <div class="seven_content">
    <div class="centent_left">
      <p class="address">{{ 'home.address' | translate }}</p>
      <p class="email">info@lexcon.az</p>
      <p class="phone_one">(012) 480 19 20</p>
      <p class="phone_two">(070) 440 19 20</p>
      <p class="follow_us">{{ 'home.followus' | translate }}</p>
      <div class="socials">
        <a href="https://www.facebook.com/lexconaz" target="_blank">
        <img class="socials_item" src="assets/facebook.svg" alt="">
        </a>
        <a href="https://www.linkedin.com/company/lexconazerbaijan" target="_blank">
        <img class="socials_item" src="assets/linkedin.svg" alt="">
        </a>
        <a href="https://www.instagram.com/lexconaz" target="_blank">
        <img class="socials_item" src="assets/instagram.svg" alt="">
        </a>
        <a href="https://twitter.com/lexconaz" target="_blank">
        <img class="socials_item" src="assets/twitter.svg" alt="">
        </a>
      </div>
      <img [ngxScrollTo]="'#top'"  style="cursor:pointer;" src="assets/Arrowup.svg" alt="">
<!--      <img src="" alt="">-->
    </div>
    <div class="centent_right">
      <p class="write_us">{{ 'home.writeus' | translate }}</p>
      <p class="write_us_text">{{ 'home.asap' | translate }}</p>
      <form  id="contact-form"  (submit)="onSubmit($event)">
      <div class="name_sur">
        <input class="input_style half_input" type="text" placeholder="{{ 'home.name' | translate }}" name="first_name">
        <input class="input_style half_input" type="text" placeholder="{{ 'home.lastname' | translate }}" name="last_name">
      </div>
      <div class="name_sur">
        <input class="input_style half_input" type="number" placeholder="{{ 'home.phone' | translate }}" name="phone">
        <input class="input_style half_input" type="email" placeholder="{{ 'home.email' | translate }}" name="email">
      </div>
      <select class="form-control input_style" name="test" id="agents" [(ngModel)]="selected">
<!--        <option value="">{{ 'home.select' | translate }}</option>-->
        <option [value]="'Konsaltinq'">Konsaltinq</option>
        <option [value]="'Hüquqi yardım'">Hüquqi yardım </option>
        <option [value]="'Partnyorluq'">Partnyorluq</option>
        <option [value]="'Press / Media əlaqəri'">Press / Media əlaqəri</option>
        <option [value]="'Digər'">Digər</option>
      </select>
      <textarea class="input_style textarea" placeholder="Məzmun" name="description" id="" cols="30" rows="10" ></textarea>
      <label class="control control--checkbox">{{ 'home.wantmore' | translate }}
        <input type="checkbox" name="checkbox_is_checked"  [(ngModel)]="checkedName" [value]="checkedName" />
        <div class="control__indicator"></div>
      </label>
      <p style="font-size: 12px">{{ 'home.accept' | translate }}</p>
<!--   <button type='submit' class="send" (click)="onSubmit($event)">{{ 'home.send' | translate }}</button>-->
        <input class="send" type="submit" value="Send">
        <img style="width: 200px" *ngIf="spinning" src="assets/loading-icegif-1.gif" alt="">
        <p *ngIf="ifSuccess"><img style="margin-right: 8px; margin-top: 16px" src="assets/succes.svg" alt="">Success</p>
        <p *ngIf="ifError"><img style="margin-right: 8px; margin-top: 16px" src="assets/cancel.svg" alt="">Error</p>
      </form>
    </div>
  </div>
</section>
<section class="section eight footer" >
  <div class="footer_logo">
    <a href="">
  <img style="width: 120px; margin-bottom: 32px" src="assets/lexcon_logo_footer.svg" alt="">
    </a>
  </div>
  <div class="links">
    <p class="footer_copyright_head">{{ 'home.shortcuts' | translate }}</p>
    <div class="horizontal_links">
      <a class="language_item" [ngxScrollTo]="'#about'"   [ngxScrollToOffset]="-200">{{ 'home.about' | translate }}</a>
      <div class="line footer_line"></div>
      <a class="language_item" [ngxScrollTo]="'#miss'"   [ngxScrollToOffset]="-200">{{ 'home.ourMiss' | translate }}</a>
      <div class="line footer_line"></div>
      <a class="language_item"  [ngxScrollTo]="'#serv'"   [ngxScrollToOffset]="-200">{{ 'home.services' | translate }}</a>
    </div>
    <p class="last_link" [ngxScrollTo]="'#projects'"   [ngxScrollToOffset]="-200">{{ 'home.projets' | translate }}</p>
    <p class="last_link" [ngxScrollTo]="'#contact'"   [ngxScrollToOffset]="-200">{{ 'home.contacts' | translate }}</p>
  </div>
  <div class="footer_copyright">
    <p class="footer_copyright_text">{{ 'home.rights' | translate }}</p>
  </div>
</section>
